h3{
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
}

div h3{
    background-color: orange;
    color: white;
    text-align: center;
}

p{
    background-color: blue;
    color: white;   

}

a{
    background-color: green;
    color: white;
}
span{
    background-color: yellow;
    color: black;
}

#heading1{
    background-color: purple;
    color: white;
}

.c1{
    background-color: pink;
    color: black;
}